#wp-admin-bar-custom-color-options {
    width: calc(50px + 1em) !important;
    box-sizing: padding-box;
      > .ab-item {
          padding: 0px !important
      }
      .color-indicator {
        width: 50px !important;
        height: 20px !important;
        border-radius: 50px;
        margin-right: 5px;
        background: none !important;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      display: flex !important;
      transition: .25s linear all;
      img.emoji {
        position: absolute;
        left: -20px;
        top: 0px;
        display: block;
      }
      &:before {
        content: '';
        position: absolute;
        border-radius: 50px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), 0px 1px 0 0px rgba(255,255,255, .25), 0px -1px 0 0px rgba(0,0,0, .65);
        filter: brightness(0.8);
        pointer-events: none; /* Ensure it doesn’t interfere with interactions */
        z-index: 998; /* Place it above internal elements */
        will-change: all;
    }
      > span {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 1s linear all;
        will-change: all;
        overflow: hidden;
        border-radius: 50px;
        &.old-palette-shade {
          z-index: 99;
          opacity: 0;
        }
        &.new-palette-shade {
          z-index: 98;
        }
      }
        div {
          flex: 1;
          height: 20px !important;
          display: block !important;
          position: relative;
        }
      }
    }
    
  
    #wp-admin-bar-custom-color-options-default {
      margin: 0px !important;
      padding: 0px !important;
      height: auto !important;
      * {
          float: none !important;
          clear: both !important;
          position: relative !important;
          height: auto !important;
          transition: .25s linear all;;
      }
      li {
          padding:  0px !important;
          margin: 0px !important;
          div.ab-item {
              padding:  0px !important;
              margin: 0px !important;
          }
      }
    }
  
    #custom-admin-color-picker {
      padding:  0px !important;
      margin: 0px !important;
      min-width: 300px;
      fieldset {
        display: flex;
        flex-wrap: wrap;
  
      legend {
          display: none !important;
      }
        > div {
          flex: 1 1 33.3333%; // Each div takes up one-third of the width
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          position: relative !important;
          padding: 0em;
          border-radius: .5em;
          height: 50px !important;
          label {
              position: absolute !important;
              left: 50% !important;
              top: 50%;
              transform: translate3d(-50%, -50%, 0) !important;
              z-index: 99;
              line-height: 1;
              padding: .5em .75em !important;
              background: rgba(0,0,0,.5);
              border-radius: 1em;
              color: #FFF;
              pointer-events: none !important;
          }
          input {
              position: absolute !important;
              left: 0px;
              right: 0px;
              height: 100% !important;
              top: 0px;
              z-index: 99;
              display: block;
              opacity: 0;
          }
          .color-palette {
              width: 100%;
              height: 50px !important;
          }
          &:hover {
              label {
                  background: rgba(255,255,255,.5);
                  color: #000;
              }
          }
          &.selected {
              label {
                  background: rgba(255,255,255,.85);
                  color: #000;
              }
          }
        }
      }
    }
    


    #wpadminbar img.emoji {
      margin-top: 4px !important;
    }


    button.components-color-palette__custom-color-button{
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
    }

    .components-color-palette__custom-color-name,
    .components-circular-option-picker__custom-clear-wrapper {
      display: none !important;
    }

    .color-options-app {
      gap: 1em;
      display: grid;
      > * {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }